requests>=2.0.0
numpy>=1.21.0
pandas>=1.3.0
matplotlib>=3.0.0
pillow>=8.0.0
beautifulsoup4>=4.9.0
lxml>=4.6.0
tqdm>=4.0.0
SQLAlchemy>=1.3.0
python-dotenv>=0.10.0

#pip freeze
#requests — для відправки HTTP-запитів (GET, POST тощо) і роботи з веб-API.

#numpy — для швидких математичних обчислень з масивами та матрицями.

#pandas — для роботи з табличними даними (аналог Excel у Python).

#matplotlib — для побудови графіків і візуалізації даних.

#pillow (PIL) — для обробки та редагування зображень.

#beautifulsoup4 — для парсингу HTML та XML, зручне отримання даних зі сторінок.

#lxml — швидкий парсер XML/HTML, часто використовується разом із BeautifulSoup.

#tqdm — для створення прогрес-барів у циклах.

#SQLAlchemy — для роботи з базами даних через ORM або SQL-запити.

#python-dotenv — для зберігання та завантаження змінних середовища з файлу .env (наприклад, паролі, токени).
